# The below types of files will be ignored by git tracking
*.o
*.xcuserstate
*.inc
*.htm
*.idb
*.manifest
*.dep
*.d
*/private/
*.xml
*.xcuserdata
*.xcuserdatad
*.xcscheme
*.mk
*.properties

# Executable file without extension
class_and_structure
utilize_classes

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/.project

*/xcuserdata/*
*/dist/*
*/build/*
*/private/*


/Study_Class/Study_Class/build/
/Study_Class/Study_Class/dist/
/Class_and_Structure/build/
/Class_and_Structure/dist/
/Utilize_Classes/Utilize_Classes/build/
/Utilize_Classes/Utilize_Classes/dist/
